@font-face {
  font-family: 'Oxanium';
  src: url('/assets/fonts/oxanium-v20-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora-v16-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
